@*@model IEnumerable<App.Models.CarViewModel>*@
@model List<App.Models.CarViewModel>
@{
    ViewBag.Title = "Home Page";
   
}

<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">Marka</th>
            <th scope="col">Model</th>
            <th scope="col">Moc</th>
            <th scope="col">Skrzynia</th>
            <th scope="col">Spalanie</th>
            <th scope="col">Naped</th>
            <th scope="col">Miejsca</th>
            <th scope="col">Cena</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>       
        @foreach (App.Models.CarViewModel obj in Model)
         {
            <tr>
                <th scope="row">@obj.Marka</th>
                <td>@obj.Model</td>
                <td>@obj.Moc</td>
                <td>@obj.Skrzynia</td>
                <td>@obj.Spalanie</td>
                <td>@obj.Naped</td>
                <td>@obj.Miejsca</td>
                <td>Od @obj.Cena zł</td>
                <td><a href='http://www.google.com/search?q=@obj.Marka+@obj.Model+@obj.Rok_Do'><i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>    

         }      
    </tbody>     
</table>
